<div style="text-align: left; margin-bottom: 20px;">
    <a class="btn btn-primary" asp-controller="User" asp-action="Details">
       Details
    </a>
</div>

<div style="text-align: left; margin-bottom: 20px;">
    <a class="btn btn-primary" asp-controller="User" asp-action="ChangeUserPassword">
        Change Password
    </a>
</div>